.nav-bar{
    display: flex;
    float: left;
    align-items: center;
    margin-top:-6%;   
}
.nav-bar >ul{
    list-style: none;
    display: flex;
    float: right;
    margin-left: 350px;
}
li{
    padding: 20px;
    margin-left: 150px;
    font-size: 24px;
}
.home{
    padding:300px;
    text-align: center;
    background-image: url("images/pizz.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1.0;
    color: white;
    margin-top: 120px;
} 
span{
    color: blue;
}
.container >h2{
    text-align: center;
    padding-top: 20px;
}
.inputs{
  
    line-height: 10px;
}
.form1{
    background-color: aqua;
    text-align: center;
} 

.form1 >h5{
    padding-top: 20px;
  }

  input#pizza-number{ 
      width: 50%;
      margin-bottom: 10px;
 }

 #hidden{
    display: none;
}
#Button{
    display:none
}
.totals{
    display: none;
}
.Items{
    width: 50%;
    text-align: center; 
  }

.footer{
    background-color: gray;
    padding: 2px;
   
}
.footer >p{
    margin-left: 350px;
    padding: 10px;
}










 
  
 
 
  

 
 
